<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stock Tracker
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stock Tracker</ion-title>
    </ion-toolbar>
    
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item style="--ion-background-color: rgb(40, 40, 40);">
            <ion-img [src]="logoImg"></ion-img>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-items-center">
          
            <ion-button (click)="selectStock()">View Stock</ion-button>
         
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-items-center">
          
            <ion-button (click)="searchSymbol()">Search Symbol</ion-button>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-items-center">
         
            <ion-button (click)="showAbout()">About</ion-button>
        
        </ion-col>
      </ion-row>
  </ion-grid>
    
  </div>
</ion-content>
