<ion-header>
  <ion-toolbar>
    <ion-title>SearchSymbol</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Search for Symbol
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Specify Symbol or Company Name
    </ion-label>
    <ion-input [(ngModel)]="symbol" ></ion-input>
    <ion-button (click)="searchSymbol()">Search</ion-button>
  </ion-item>

  <ion-grid [hidden]="!found">
    
    <ion-row id="grid-heading">
      <ion-col size="2">
          <ion-label>S/N</ion-label>
      </ion-col>
      <ion-col size="2">
          <ion-label>Sym.</ion-label>
      </ion-col>
      <ion-col size="5">
        <ion-label>Name</ion-label>
      </ion-col>
      <ion-col size="3">
          <ion-label>Exchange</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let a of data; index as i">
      <ion-col size="2">
          <ion-label>{{i + 1}}</ion-label>
      </ion-col>
      <ion-col size="2">
          <ion-label>{{a.symbol}}</ion-label>
      </ion-col>
      <ion-col size="5">
          <ion-label>{{a.name}}</ion-label>
      </ion-col>
      <ion-col size="3">
          <ion-label>{{a.exchangeShortName}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
